# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries in Data Science
- List popular Data Science tools
- Execute basic arithmetic operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. GGally
2. Numpy
3. Matplotlib
4. Pandas

| Data Science Tools |
 --------------------
| Apache Hadoop      |
| MongoDB            |
| PowerBI            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
def hours(minutes):
    return minutes / 60

result = hours(200)
print(result)

3.3333333333333335

## Author
Aseem Deshpande